<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="ALL">
<title><%= siteName %></title>
<meta name="description" content="<%= siteDescription %>">
<meta name="format-detection" content="telephone=no,address=no,email=no">

<meta property="og:title" content="<%= siteName %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= siteUrl %>">
<meta property="og:image" content="<%= ogImage %>">
<meta property="og:site_name" content="<%= siteName %>">
<meta property="og:description" content="<%= siteDescription %>">
<meta property="og:locale" content="ja_JP">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="<%= ogImage %>">
<meta name="twitter:site" content="<%= twitterSite %>">

<meta name="theme-color" content="#000000">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="mobile-web-app-capable" content="no">

<link rel="canonical" href="<%= siteUrl %>">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/icon.png">
