<!doctype html>
<html lang="ja">
  <head>
    <%- include('./_partials/head.html.ejs') %>
    <title><%= siteName %></title>
    <link rel="stylesheet" href="./assets/css/style.css">
  </head>
  <body>
    <%- include('./_partials/header.html.ejs') %>
    <main class="page">
      <h1><%= siteName %></h1>
      <p>EJS starter page.</p>
    </main>
    <%- include('./_partials/footer.html.ejs') %>
    <script src="./assets/js/site.js"></script>
  </body>
</html>
